  .vermelho-text {
    background-color: #e74c3c; /* Vermelho */
  }
  
  .laranja-text {
    background-color: #e67e22; /* Laranja */
  }
  
  .amarelo-text {
    background-color: #f1c40f; /* Amarelo */
  }
  
  .verde-text {
    background-color: #2ecc71; /* Verde */
  }
  
  .azul-text {
    background-color: #3498db; /* Azul */
  }
  