/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Estilos para o conteúdo principal */
.diagnostico-container {
  background-color: #f0f0f0;
  padding: 20px;
}

/* Estilizando o cabeçalho */
header {
  background: linear-gradient(to right, #ff6f61, #77dd77, #4285f4);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

header h2 {
  font-size: 2rem;
  color: #fff;
  margin: 0;
  text-align: left;
}

/* Estilos para o formulário de triagem */
.diagnostico-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-height: 80vh;
  overflow-y: auto;
}

.diagnostico-form h2 {
  margin-bottom: 20px;
}

.diagnostico-form hr {
  margin-bottom: 20px;
}

.diagnostico-form label {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  display: block;
}

.diagnostico-form input[type="text"],
.diagnostico-form input[type="range"],
.diagnostico-form select {
  width: calc(100% - 18px);
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.diagnostico-form input[type="radio"] + label,
.diagnostico-form input[type="checkbox"] + label {
  font-weight: normal;
  color: #555;
  cursor: pointer;
}

.diagnostico-form input[type="radio"]:checked + label,
.diagnostico-form input[type="checkbox"]:checked + label {
  font-weight: bold;
  color: #007bff;
}

/* Estilos para os botões no formulário de triagem */
.diagnostico-form button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.diagnostico-form button:hover {
  background-color: #0056b3;
}

#sex, #injured, #pain {
  display : flex;
  flex-direction : row;
  gap : 1%
}