<div class="diagnostico-container">
  <header>
    <h2>LEFT 4 HEALTH</h2>
  </header>
  <main>
    <section class="diagnostico-form">
      <div class="diagnostico-content">
        <h2 style="margin-bottom: 20px;">Formulário de diagnóstico</h2>
        <hr style="margin-bottom: 20px;">
        <form>
          <!-- SEXO -->
          <div class="questoes">
            <p style="font-weight: bold;">Sexo:</p>
            <div class="resposta">
              <label>
                <input type="radio"
                       id="q21"
                       name="q21"
                       (change)="selecionarOpcaoSexo($event, '1')"
                       value="Masculino">
                Masculino
              </label>              
              <br>
              <label>
                <input type="radio"
                       id="q21"
                       name="q21"
                       (change)="selecionarOpcaoSexo($event, '0')"
                       value="Feminino">
                Feminino
              </label> 
              <br>
            </div>
          </div>
           <!-- IDADE -->
          <div class="questoes1">
            <label style="font-weight: bold;" for="idade">Idade:</label>
            <input type="number" id="q{{ 22 }}" name="q{{ 22 }}" (input)="atualizarIdade($event)">
          </div>
           <!--FERIDO -->
          <div class="questoes">
            <p style="font-weight: bold; display: inline-block; margin-right: 10px;">Ferido</p>
            <div class="resposta">
              <select style="width: 600px;" class="form-control"
              (change)="selecionarOpcaoFerido($event)">
                <option value="">Escolha uma opção</option>
                <option value="6">Sim</option>
                <option value="7">Não</option>
              </select>           
              <textarea style="margin-left: 10px; width: 800px;" placeholder="Observações" (input)="atualizarObservacoesFerido($event)"></textarea>

            </div>
          </div>          
           <!-- ESTADO MENTAL -->
          <div class="questoes1">
            <p style="font-weight: bold;" >Estado Mental</p>
            <div class="resposta">
              <select style="width: 600px;" class="form-control"  
                     (change)="selecionarOpcaoEstadoMental($event)">
                      id="q{{ 24 }}"
                      name="q{{ 24 }}">
                <option value="">Escolha uma opção</option>
                <option value="1">Nada</option>
                <option value="2">Um pouco</option>
                <option value="3">Moderadamente</option>
                <option value="4">Muito</option>
                <option value="5">Extremamente</option>
              </select>
              <textarea style="margin-left: 10px; width: 800px;" placeholder="Observações" (input)="atualizarObservacoesEstadoMental($event)"></textarea>
            </div>
          </div>
           <!-- DORES -->
          <div class="questoes">
            <p style="font-weight: bold;">Dores</p>
            <div class="resposta">
              <select style="width: 600px;" class="form-control"  
              (change)="selecionarOpcaoDores($event)">
                      id="q{{ 25 }}"
                      name="q{{ 25 }}"
                      <option value="">Escolha uma opção</option>      
                <option value="6">Sim</option>
                <option value="7">Não</option>
              </select>
              <textarea style="margin-left: 10px; width: 800px;" placeholder="Observações" (input)="atualizarObservacoesDores($event)"></textarea>
            </div>
          </div>  
           <!-- NIVEL DE DOR -->
          <div class="questoes1">
            <p style="font-weight: bold;">Nivel de dor</p>
            <div class="resposta">
              <select style="width: 600px;" class="form-control" 
                     (change)="selecionarOpcaoNivelDores($event)">
                      id="q{{ 26 }}"
                      name="q{{ 26 }}">´
                      <option value="">Escolha uma opção</option>
                <option value="1">Nada</option>
                <option value="2">Um pouco</option>
                <option value="3">Moderadamente</option>
                <option value="4">Muito</option>
                <option value="5">Extremamente</option>
              </select>
              <textarea style="margin-left: 10px; width: 800px;" placeholder="Observações" (input)="atualizarObservacoesNivelDores($event)"></textarea>
            </div>
          </div>
           <!-- TENSÃO ARTERIAL -->
          <div class="questoes">
            <p style="font-weight: bold;" >Tensão arterial</p>
            <div class="resposta">
              <select style="width: 600px;" class="form-control" 
              (change)="selecionarOpcaoArt($event)">
                      id="q{{ 27 }}"
                      name="q{{ 27 }}">
                      <option value="">Escolha uma opção</option>
                <option value="1">Nada</option>
                <option value="2">Um pouco</option>
                <option value="3">Moderadamente</option>
                <option value="4">Muito</option>
                <option value="5">Extremamente</option>
              </select>
              <textarea style="margin-left: 10px; width: 800px;" placeholder="Observações" (input)="atualizarObservacoesArt($event)"></textarea>
            </div>
          </div>
           <!-- BATIMENTO CARDIACO -->
          <div class="questoes1">
            <p style="font-weight: bold;" >Batimento cardíaco</p>
            <div class="resposta">
              <select style="width: 600px;" class="form-control"  
                     (change)="selecionarOpcaoBtCard($event)">
                      id="q{{ 28 }}"
                      name="q{{ 28 }}">
                      <option value="">Escolha uma opção</option>
                <option value="1">Nada</option>
                <option value="2">Um pouco</option>
                <option value="3">Moderadamente</option>
                <option value="4">Muito</option>
                <option value="5">Extremamente</option>
              </select>
              <textarea style="margin-left: 10px; width: 800px;" placeholder="Observações" (input)="atualizarObservacoesBtCard($event)"></textarea>
            </div>
          </div>
           <!-- TAXA DE RESPIRAÇÃO -->
          <div class="questoes">
            <p style="font-weight: bold;" >Taxa de respiração</p>
            <div class="resposta">
              <select style="width: 600px;" class="form-control" 
                    (change)="selecionarOpcaoTaxaResp($event)">
                      id="q{{ 29 }}"
                      name="q{{ 29 }}">
                      <option value="">Escolha uma opção</option>
                <option value="1">Nada</option>
                <option value="2">Um pouco</option>
                <option value="3">Moderadamente</option>
                <option value="4">Muito</option>
                <option value="5">Extremamente</option>
              </select>
              <textarea style="margin-left: 10px; width: 800px;" placeholder="Observações" (input)="atualizarObservacoesTaxaResp($event)"></textarea>
            </div>
          </div>
           <!-- Temperatura corporal -->
          <div class="questoes1">
            <p style="font-weight: bold;" >Temperatura corporal</p>
            <div class="resposta">
              <select style="width: 600px;" class="form-control" 
              (change)="selecionarOpcaoTemp($event)">
                      id="q{{ 30 }}"
                      name="q{{ 30 }}">
                      <option value="">Escolha uma opção</option>
                <option value="1">Nada</option>
                <option value="2">Um pouco</option>
                <option value="3">Moderadamente</option>
                <option value="4">Muito</option>
                <option value="5">Extremamente</option>
              </select>
              <textarea style="margin-left: 10px; width: 800px;" placeholder="Observações" (input)="atualizarObservacoesTemp($event)"></textarea>
            </div>
          </div>
              <!-- Saturação -->
          <div class="questoes">
            <p style="font-weight: bold;" >Saturação</p>
            <div class="resposta">
              <select style="width: 600px;" class="form-control" 
              (change)="selecionarOpcaoSat($event)">
                      id="q{{ 31 }}"
                      name="q{{ 31 }}">
                      <option value="">Escolha uma opção</option>
                <option value="1">Nada</option>
                <option value="2">Um pouco</option>
                <option value="3">Moderadamente</option>
                <option value="4">Muito</option>
                <option value="5">Extremamente</option>
              </select>
              <textarea style="margin-left: 10px; width: 800px;" placeholder="Observações" (input)="atualizarObservacoesSat($event)"></textarea>
            </div>
          </div>
         <!-- btn -->
          <button style="display: block; margin: 0 auto; width: 800px;" (click)="submeterRespostas()">Submeter Respostas</button>
        </form>
      </div>
    </section>
  </main>
</div>



