<div class="home-container">
  <header>
    <h2>LEFT 4 HEALTH</h2>
    <div class="footer-content">
      <p class="visit-text">
        Visite-nos:
        <a href="https://left-4-health.wordpress.com/category/artigos-do-blogue/desafio-2/" class="visit-link" target="_blank">Clique aqui</a>
      </p>
    </div>
  </header>
  <img src="../../assets/Screenshot_2-removebg-preview.png" class="logo">
  <main>
    <section class="hero">
      <h2>Descubra qual a melhor forma de o ajudar mais rápido </h2>
      <p>Responda a algumas perguntas simples e obtenha sugestões personalizadas para a sua emergência.</p>
      <button routerLink="/diagnosis">Iniciar Triagem</button>
    </section>
  </main>
</div>
