/* Usando Arial como fonte para todos os elementos */
body,
button,
input,
select,
textarea,
* {
  font-family: 'Arial', sans-serif;
}

/* Estilos para a seção principal */
.suggestion-component {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Estilização para os elementos internos */
.suggestion-component .form-label {
  font-weight: bold;
}

/* Estilos para o cabeçalho */
header {
  background: linear-gradient(to right, #ff6f61, #77dd77, #4285f4);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 h2 {
  font-size: 2rem;
  color: #fff;
  margin: 0;
}

.suggestion-component .form-control,
.suggestion-component .form-select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.suggestion-component .form-check-input {
  margin-right: 5px;
}

.suggestion-component .form-check-label {
  font-weight: normal;
}

.suggestion-component .best-alternatives h2 {
  margin-top: 0;
}


/* Estilização do botão "Obter as melhores alternativas" */
.submit-button {
  display: flex;
  justify-content: center;
}

.submit-button button {
  padding: 12px 24px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button button:hover {
  background-color: #0056b3;
}

.return-home-button {
  display: flex;
  justify-content: flex-start;
}

.return-home-button button {
  padding: 10px 20px; 
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.return-home-button button:hover {
  background-color: #0056b3;
}

/* Ajuste no espaçamento entre os botões "Anterior" e "Próximo" */
.suggestion-component .navigation-buttons button {
  padding: 10px 20px;
  margin: 0 5px; /* Adicionando margem entre os botões */
}


